@model UtdAttendanceApplication.ViewModels.QuizViewModel

@{
    ViewData["Title"] = "Quiz";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("SubmitQuiz", "Quiz", FormMethod.Post))
{
    @Html.HiddenFor(m => m.QuizBankId)

    @for (int i = 0; i < Model.Questions.Count; i++)
    {
        <div class="mb-4">
            <h4>@Model.Questions[i].QuestionText</h4>

            @foreach (var option in Model.Questions[i].Options)
            {
                <div class="form-check">
                    <input type="radio"
                           name="Questions[@i].SelectedOptionId"
                           value="@option.OptionId"
                           class="form-check-input"
                           id="opt-@option.OptionId" />
                    <label class="form-check-label" for="opt-@option.OptionId">
                        @option.OptionText
                    </label>
                </div>
            }

            @Html.HiddenFor(m => m.Questions[i].QuestionId)
        </div>
    }

    <button type="submit" class="btn btn-primary">Submit</button>
}
